
@media screen and (max-width: 800px) {
  .tagline { font-size: 1.35em; width: 90% !important; line-height: 1.85em !important;}
  .biggeronmobile { width: 100% !important; }
  .statcol { width : 100% !important; margin: 0px 0.85em; margin-bottom: 3.15em !important; }
  .statcol:nth-child(4){padding-bottom: 1.15em !important;}
  .shoulderline { margin-top: 2em; margin-left: 1.15em;}
  .pageitle { min-width: none !important; }
  .w100 { width: 100% !important; }
  .nofloatonmobile { float: none !important; }
  .page li, .page dd { margin: 1.35em 0px 0px 1.5em }
  button { margin: 8px 8px; }
  #sidebarhere { clear: both; width: 100% !important; border-top: 8px solid black;  }
  #itemshere { display: block; padding-left: 0px; width: 100%; }
  
   /* dokuwiki edit */
  .inlinemenu li { display: block; margin: 1.35em 0px; }
  .inlinemenu li:first-of-type { margin-left: unset; }
  .dokuwiki fieldset { width: unset; }
  .notify { padding-left: 2em !important; }
}

/* media manager and config manager for mobile */
@media screen and (max-width: 480px){

  fieldset, 
  #mediamanager__page, 
  #mediamanager__page .filelist{ 
    max-width: 100%; min-width: unset; 
  }
  #mediamanager__page .file, 
  #mediamanager__page .namespaces, 
  #mediamanager__page .panel { 
    width: 100%; clear: both; float: none;
  }
  /*li, dd { margin: 1.35em 0px !important; }*/
  #config__manager tr { }
  #config__manager td { display: block;  padding: 1.15em 0px; max-width: 40%;  }

  #config__manager fieldset td.value { width: unset; }

  #config__manager td .input, 
  #config__manager fieldset td.value, 
  #config__manager td input.edit { 
    /*max-width: 100%; */
  }
}