.page li { display: block; margin: 0.85em 0px 0px 1.5em; }
.page { line-height: 1.35em; }
.claim { margin-top: 0.35em; }
th { color: #cccccc; }
th:hover { color: #3c3c3c; }

ul.inlinemenu { 
	margin-left: 64px;
	padding: 0px;
	padding-bottom: 8px;
	border-bottom: 3px solid black; display: inline-block; 
}
.inlinemenu li { display: inline; }
.inlinemenu li:first-of-type { margin-left: 0px; }

/* https://stackoverflow.com/q/26160839/337306 */
#itemshere { padding-left: 64px; width: 80%; display: flex;/* flex-direction: column; *//*flex-flow: row wrap;*/ }
div.breadcrumbs, .claim { margin-left: 64px;}
a.breadcrumbs { margin-right: 16px; }
.notice { 
	width: 33%; 
	margin-left: auto !important; margin-right: auto !important; 
	margin-top: 1em !important;
	margin-bottom: 1.85em !important;
}
#sidebarhere { width: __sidebar_width__ !important;}
#dokuwiki__content { width: 100% !important; }
button { padding: 0.35em; margin: 0.35em 0.15em;}

#itemshere div.statcol {
	height: unset;
	padding: 0px 1.85em;
	box-sizing: border-box;
}

.noticearea { 
	width: 75%; 
	margin-left: auto; margin-right: auto; 
	margin-top: 1.85em; margin-bottom: 1.85em; 
}
.notify {
	text-align: center;
	color: #3C3C3C !important;
	font-weight: bold;
	margin-top: 32px;
	clear: both;
	width: 97%;
	padding: 8px !important;
	margin-bottom: 12px !important;

	border: 0px !important;
	border-radius: 0px !important;
}
.notify{ background-color: #BABABA !important; border-top: solid #3C3C3C 8px !important; }


/* config manager */

/*#config__manager fieldset { clear: both; }*/
#config__manager table { min-width: 10%; width: 100%; }
/*fieldset { word-wrap: anywhere; }*/
#config__manager table { border-collapse: revert; border-spacing: 0px 1.85em; }
#config__manager tr { padding: 1em 0px; }
#config__manager td.label span.outkey { font-size: 1.15em !important; }
#config__manager fieldset td.value { width: 25%; }

/*select { display: none; }*/
/* defined in /lib/plugin/config.style.css */
#config__manager td input.edit {
    max-width: 14em;
}
#config__manager td .input {
    min-width: 50%;
    /*width: 90%;*/
    width: unset;
    /*width: max-content;*/
}
#config__manager td select.edit { }
#config__manager td textarea.edit {
    width: 100%;
    height: 4em;
}

/* ------ */